* {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.75rem;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------- */
/*   Header                                                      */
/* ------------------------------------------------------------- */

header::before {
    content:'';
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

#navbar {
    position: fixed;
    min-width: 100vw;
    padding: 15px 0;
    opacity: .8;
}

#navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #logo {
    font-size: 1.5rem;
}

#navbar ul {
    display: flex;
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    padding: 5px 20px;
    font-weight: 300;
    color: #fff;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    border-bottom: 1.5px solid #82c91e;
}


#hero {
    background: url('./images/home/showcase.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

#hero * {
    z-index: 1;
}

#hero > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero h1 {
    font-weight: 300;
    font-size: 3rem;
}

#hero p {
    font-size: 1.2rem;
    font-weight: 100;
    padding: 20px 0;
}

/* ------------------------------------------------------------- */
/*   Section Cases                                               */
/* ------------------------------------------------------------- */

section {
    padding-top: 50px;
}

.section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.section-heading h1 {
    font-weight: 100;
    font-size: 2rem;
    padding: 20px;
}

/* ------------------------------------------------------------- */
/*   Section Team                                                */
/* ------------------------------------------------------------- */
#team .flex-columns .row {
    justify-content: center;
}

#team .flex-columns .circle {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

/* ------------------------------------------------------------- */
/*   Footer                                                      */
/* ------------------------------------------------------------- */

footer {
    padding: 30px 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .container i {
    padding: 0 10px;
}

footer .container i:hover {
    cursor: pointer;
    color: #82c91e;
}

footer .container p {
    font-weight: 100;
    font-size: .7rem;
}