/* Text colors */
.color-primary {
    color: #82c91e;
}

.color-secondary {
    color: #495057;
}

/* Bg colors */
.bg-primary {
    background-color: #82c91e;
}

.bg-secondary {
    background-color: #495057;
}

.bg-dark {
    background-color: #212529;
    color: #fff;
}

/* ------------------------------------------------------------- */
/*   Buttons                                                     */
/* ------------------------------------------------------------- */
.btn {
    font-weight: 300;
    font-size: .8rem;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #82c91e;
    color: #fff;
}

.btn-primary:hover {
    opacity: .9;
}

/* ------------------------------------------------------------- */
/*   Containers                                                  */
/* ------------------------------------------------------------- */
.container {
    max-width: 95vw;
    margin: auto;
}

/* ------------------------------------------------------------- */
/*   Flex                                                        */
/* ------------------------------------------------------------- */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0  15px;
}

.flex-columns .column h2 {
    font-size: 1.1rem;
    padding: 15px 0;
}

.flex-columns .column .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: #82c91e;
    color: #efefef;
}

.flex-columns .column p {
    font-weight: 100;
}