/* Text colors */
.color-primary {
    color: #82c91e;
}

.color-secondary {
    color: #495057;
}

/* Bg colors */
.bg-primary {
    background-color: #82c91e;
}

.bg-secondary {
    background-color: #495057;
}

.bg-dark {
    background-color: #212529;
    color: #fff;
}

/* ------------------------------------------------------------- */
/*   Buttons                                                     */
/* ------------------------------------------------------------- */

.btn {
    font-weight: 300;
    font-size: .8rem;
    padding: 5px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #82c91e;
    color: #fff;
}

.btn-primary:hover {
    opacity: .9;
}

/* ------------------------------------------------------------- */
/*   Containers                                                  */
/* ------------------------------------------------------------- */

.container {
    max-width: 95vw;
    margin: auto;
}